html {
  scroll-behavior: smooth;
}

body {
 margin-right: 0px;
 overflow-x: hidden;
 color: #33335F;
 
}

.padding-0{
    padding-right:0 !important;
    padding-left:0 !important;
}
#logo-header {
	border-radius: 50%;
	height: 2vh;
	width: 2vw;
}


header{
	background-color: #1BABE2;
  height: 150px;
  position:relative;
}

header .row .col-5 {
	color: white;
	margin: auto;
	margin-top: ;
	margin-left: 1rem;
}

.sticky  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999 !important;
  height: 20px;
  margin-top: 0px;

  }
}

.hidden {
  visibility: hidden !important;
}

#logo {
  margin-top:10%;
}

#logo a {
  color: white;
  font-weight: bold;
}

  .affix {
    padding-top:10px;
    top: 0;
    margin-top: 20px;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }
.navbar {
  margin-bottom: 0px;
  border-bottom: 2px solid #1BABE2 !important;
}
ul.nav {
  width: 100%;
  padding 0px 30px 0px 30px;
}




nav ul li {
  margin: 0 5rem 0 4rem;

}
nav ul li:hover {
  border-bottom: 4px solid blue; 
     left: 0;
    right: 0;
    bottom: 3px;

}


border-bottom: 2px solid #ec6713;


nav ul li a{
  text-transform: uppercase;
  margin: 0px 5px 0px 5px;
  }

#collapsibleNavbar ul li a {
	font-weight: bold;
	line-height: 18px;
	padding:16px 12px;
	position: relative;
	margin-left: 5rem;
	margin-right: 5rem;
}
.container-top {
  position: relative;
  text-align: center;
  width:100% !important;
}

.centered {
  position: absolute;
  color: white;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-title {
  position: absolute;
  color: white;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about-box{
    margin: auto;
    position: relative;
    background-color: white !important;
    margin-top: -5rem;
    -moz-box-shadow: 0px 3px 8px rgb(100,100,100);
    -webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
    box-shadow: 0px 3px 8px rgb(100,100,100);
    /*box-shadow: 2px 3px 2px rgb(187,187,187);*/
    height: auto;
    width: 90%;
    text-align: center;
    border-radius: 7px;
  }
#about-box h1 {
  font-size: 5rem;
}
#about-box p {
  font-size: 3rem;
}

@media only screen and (max-width: 961px) {
  #about-box {
    width: 100%;
  }
}

/*

#IntroPic {
	background-image: url('../images/organicfood.jpg');
	background-repeat : no-repeat;
	height : 65vh; 
	background-size: 100% 100%;
}

.text-center {
	text-align: center;
}

#top-heading {
	font-size: 3rem;
    color: yellow;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: bottom;
}
*/

#work {
	text-align: center;
}
section {
    width: 100%;
    display: flex;
    flex-direction: column;
}
 #icon-menu div i{
	display: inline;
	font-size: 20rem;
  margin: 5rem 5rem 5rem 5rem;
	
}


#icon-menu .item a {
  padding-bottom: 10rem;
  padding-top: 10rem;
  
}

section:nth-child(2n) {
	 background-color: #FFFFFF;
	}
    
section:nth-child(2n+1) {
  
    background-color: #F1F1F1;
}

/*specific features of what_we_do page*/



