<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>index page</title>
	<!-- CSS only -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	 <!--font-->
	 <script src="https://kit.fontawesome.com/2007b97fcd.js" crossorigin="anonymous"></script>

	</head>
<body>
   

    <%- include('./src/navbar.ejs') %>

<!--navbar ends here-->
<!--pic section start here-->
<main>
  <!--Header content section-->
<section>
  <div class="container-top">
     <img src="./images/health.jpg" alt="Snow" style="width:100%; margin-left: 0; margin-right: 0;">
     
  <div class="centered"><h2 style="font-weight: bold; font-size: : 3vw !important">Aryamarga Yoga</h2></div>
  <div class="centered-title"><h6 style="font-weight: bold; font-size: 3vw;">Aryamarga Yoga</h6></div>
</div>

<!--icon section -->
</section>
<section id="work">
	<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-12 mx-auto">
            <div class="jumbotron" style="background-color: white;">
               <h2 style="font-size: 5vw; !important;">content will be soon here</h2>
               <p >content will be soon here</p>
               <br>
               <br>
               <div><p>content will be soon here</p></div>
               <br>
               <br>
               <div class="icon-menu">
                 
                   <a href="#">
                    <figure>
                      <img src="images/nutrition.png" alt="demo image" />
                      <figcaption>Link.</figcaption>
                    </figure>
                  </a>
                  <a href="#">
                    <figure>
                      <img src="images/yoga.png" alt="demo image" />
                      <figcaption>LINK.</figcaption>
                    </figure>
                  </a>
                  <a href="#">
                    <figure>
                      <img src="images/childsave.png" alt="demo image" />
                      <figcaption>LINK.</figcaption>
                    </figure>
                  </a>

               </div>
               <div class="icon-menu">
                 
                   <a href="#">
                    <figure>
                      <img src="images/nutrition.png" alt="demo image" />
                      <figcaption>Link.</figcaption>
                    </figure>
                  </a>
                  <a href="#">
                    <figure>
                      <img src="images/yoga.png" alt="demo image" />
                      <figcaption>LINK.</figcaption>
                    </figure>
                  </a>
                  <a href="#">
                    <figure>
                      <img src="images/childsave.png" alt="demo image" />
                      <figcaption>LINK.</figcaption>
                    </figure>
                  </a>

               </div>
               <div class="icon-menu">
                 
                   <a href="#">
                    <figure>
                      <img src="images/nutrition.png" alt="demo image" />
                      <figcaption>Link.</figcaption>
                    </figure>
                  </a>
                  <a href="#">
                    <figure>
                      <img src="images/yoga.png" alt="demo image" />
                      <figcaption>LINK.</figcaption>
                    </figure>
                  </a>
                  <a href="#">
                    <figure>
                      <img src="images/childsave.png" alt="demo image" />
                      <figcaption>LINK.</figcaption>
                    </figure>
                  </a>

               </div>
              



               <!--
            <div" id="icon-menu">
    			     	<div class="item">
                  <a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
      			     	<a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
      			     	<a href="/what_we_do#"><i class="fas fa-hamsa"></i></a>
                </div>

                <div class="item">
    			     	
      			     	<a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
      			     	<a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
      			     	<a href="/what_we_do#"><i class="fas fa-hamsa"></i></a>
                </div>
    			     	<div class="item">
    			        <a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
                  <a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
                  <a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
                </div>

			     </div>
         -->
            </div>
        </div>
    </div>

    </div>
</section>

<!--content start section-->
<section>
	 <div class="container h-100">
     <div class="row align-items-center h-100">
        <div class="col-8 mx-auto"  >
            <div class="jumbotron" style="text-align: center;">
               <h2 >AryaMarga Work</h2>
               <p>content will be soon here</p>
               <br>
               <br>
               <p>content will be soon here</p>
               <br>
               <br>
            </div>


        </div>
    </div>

</section>

<!--Content with the pic yellow background-->
<section>
<div id="row">
      <div id="column" style="background-color:#aaa;">
        <img src="/images/meal.jpeg">
      </div>
      <div id="column-right" style="background-color:#F7C621;">
        <h2>Column 2</h2>
        <p>Some text..</p>
      </div>
</div>
</section>
</main>
<!--Navbar section -->

<section>
  <%- include('./src/footer.ejs') %>
   
</section>
<script src="/js/script.js" type="text/javascript"></script>
</body>
</html>