<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>index page</title>
	<!-- CSS only -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	 <!--font-->
	 <script src="https://kit.fontawesome.com/2007b97fcd.js" crossorigin="anonymous"></script>

	</head>
<body>
   

    <%- include('./src/navbar.ejs') %>

<!--navbar ends here-->
<!--pic section start here-->
<main>
<section>
  <div class="container-top">
     <img src="./images/organicfood.jpg" alt="Snow" style="width:100%; margin-left: 0; margin-right: 0;">
     
  <div class="centered"><h1 style="font-weight: bold;">Aryamarga Yoga</h1></div>
  <div class="centered-title"><h6 style="font-weight: bold;">Aryamarga Yoga</h6></div>
</div>
<!--pic section ends here-->
</section>
<section id="work">
	<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-12 mx-auto">
            <div class="jumbotron" style="background-color: white;">
               <h2 style="font-size: 6rem;">AryaMarga Work</h2>
               <p>put here your work what you want to put here</p>
               <br>
               <br>
               <p>put here your work what you want to put here</p>
               <br>
               <br>
            <div" id="icon-menu">
    			     	<div class="item">
                  <a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
      			     	<a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
      			     	<a href="/what_we_do#"><i class="fas fa-hamsa"></i></a>
                </div>

                <div class="item">
    			     	
      			     	<a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
      			     	<a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
      			     	<a href="/what_we_do#"><i class="fas fa-hamsa"></i></a>
                </div>
    			     	<div class="item">
    			        <a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
                  <a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
                  <a href="/what_we_do#work"><i class="fas fa-hamsa"></i></a>
                </div>

			     </div>
            </div>
        </div>
    </div>

    </div>
</section>

<!--Work introduction section starts here-->
<section>
	 <div class="container h-100">
     <div class="row align-items-center h-100">
        <div class="col-8 mx-auto"  >
            <div class="jumbotron" style="text-align: center;">
               <h2 >AryaMarga Work</h2>
               <p>put here your work what you want to put here</p>
               <br>
               <br>
               <p>put here your work what you want to put here</p>
               <br>
               <br>
            </div>


        </div>
    </div>

</section>

<!--Introduction with the pic section starts here-->
<section>
	<div class="row">
       <div class="col-8 padding-0">
       	<img src="./images/meal.jpeg" alt="Image" style="width: 100%">
       </div>
       <div class="col-4 padding-0" style="background-color: #F6CB20;">
       	   <div style="text-align: center">
       	   	
       	   </div>

       </div>        	
    </div>

</section>
</main>
<!--The introdution parts with the pics Ends here -->

<section>
  <%- include('./src/footer.ejs') %>
   
</section>
<script src="/js/script.js" type="text/javascript"></script>
</body>
</html>