
 <header id="header">

      <div class="row" id="content">
       <div class="col-2" style="text-align: center;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
           <span style="color: blue !important;"class="navbar-toggler-icon"> <!--<i class="fa fa-bars">--></i></span>
         </button>
       </div>
        <div class="col-4">
          <div style="text-align: center; color: white;">
          <h2 id="logo">
            <span><a href="/">AryaMarga Yoga</a></span> 
           <img style="border-radius: 50%; width: 50px;" src="./images/logo-header.jpg">
         </h2>
          </span>
        </div>
          
          
        </div>
        <div class="col-6"></div>

      </div>
    </header>

<nav class="navbar navbar-default navbar-expand-lg" data-spy="affix" data-offset-top="100" style="background-color:yellow !important">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-default" id="collapsibleNavbar" style="background-color: yellow !important">
    <ul class="nav navbar-nav" style="background-color: yellow">
      <li class="nav-item">
        <a class="nav-link" href="/what_we_do">What_we_do</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>