
  <header id="header">
  

      <div class="row"  id="content" style="color:white; text-align: center; ">
           <div class="col-4"><h2 >AryaMarga<h2></div>
           <div class="col-1 my-5">LOGO</div>
           <div class="col-6 my-5">Title</div>
        
      </div>
    </header>

 



<!--*********************************************************************************************************************-->

<header  class="smallheader">

      <div class="row"  style="color:white; text-align: center; ">
           <div class="col-4"><h6 >AryaMarga Yoga<h6></div>
           <div class="col-1 my-5">LOGO</div>
           <div class="col-6 my-5">Title</div>       
</header>



<header class="head-main fixed-top">
  <div class="navbar navbar-light bg-light box-shadow" style="z-index: 99999; background-color: #1BABE2 !important;">
    <div class="container d-flex justify-content-between">
     
      <a class="nav-button mr-auto "><span id="nav-icon3"><span></span><span></span><span></span><span></span></span></a>
    </div>
  </div> <!--navbar end-->
  
  <div class="fixed-top main-menu" style="background-color: #EEBB33 !important;>

    <div class="mr-auto">
      <ul class="nav flex-column">
      <br>
      <br>
      <br>
       <br>
      <br>
      <br>
      <br>
        <li class="nav-item delay-1"><a class="nav-link" href="/">HOME</a></li>
        <li class="nav-item delay-2"><a class="nav-link" href="/what_we_do">ABOUT US</a></li>
        <li class="nav-item delay-3"><a class="nav-link" href="/stories">STORIES</a></li>
        <li class="nav-item delay-4"><a class="nav-link" href="action">ACTION</a></li>
        
      </ul>
      
      <div style="height: 100%;text-align: center; margin-top:0; background-color:#1BABE2;"></div>
             <p style="color: black !important">ABOUT</p>
    </div>

  </div> 
  

</header>




<!--*********************************************************************************************************************-->



<!--
<nav class="navbar navbar-default navbar-expand-lg" data-spy="affix" data-offset-top="100" style="background-color:yellow; !important">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-default" id="collapsibleNavbar" style="background-color: yellow !important">
    <ul class="nav navbar-nav" style="background-color: yellow">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/what_we_do">What_we_do</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/stories">stories</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/action">Take Action</a>
      </li>
    </ul>
  </div>
</nav>





<nav class="navbar navbar-expand-md navbar-light bg-light"  id="nav" data-spy="affix" data-offset-top="100">
  
  <button id="ChangeToggle" class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div id="navbar-hamburger">
           <span class="navbar-toggler-icon"></span>
        </div>
        <div id="navbar-close" class="hidden">
           <span class="glyphicon glyphicon-remove"></span>
        </div>
    
  </button>

    <div class="collapse navbar-collapse" id="bottom-nav">
        <ul class="navbar-nav ml-auto mr-3">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
  </div>
</nav>
-->




<!--*********************************************************************************************************************-->









<table id="nav-table"  data-spy="affix" data-offset-top="100">
<tr style="text-align: center;">
 <td><a href="/">HOME</a><td/>
 <td><a href="/what_we_do">ABOUT</a><td/>
 <td><a href="/stories">STORIES</a><td/>
 <td><a href="/action">ACTION</a><td/>
</tr>


</table>

